<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544520343295-rp3ci4osdkclep3g0s125e7pii837gsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544520343295-rp3ci4osdkclep3g0s125e7pii837gsm</string>
	<key>API_KEY</key>
	<string>AIzaSyBMKC1boZ3tLFtHWqDUs9Km9QjrNpTx4_s</string>
	<key>GCM_SENDER_ID</key>
	<string>544520343295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.FunMemory</string>
	<key>PROJECT_ID</key>
	<string>funmemory-cdbfe</string>
	<key>STORAGE_BUCKET</key>
	<string>funmemory-cdbfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544520343295:ios:dabe2d3f41b48efb</string>
	<key>DATABASE_URL</key>
	<string>https://funmemory-cdbfe.firebaseio.com</string>
</dict>
</plist>